<html>
<head>
  <title>EVECal</title>
  <link rel='stylesheet' href='/bootstrap.min.css' type='text/css'>
  <link rel='stylesheet' href='/bootstrap.min.responsive' type='text/css'>  
  <link rel='stylesheet' href='/application.css' type='text/css'>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30298067-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class='container'>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
            EVECal
          </a>
        </div>
      </div>
    </div>
  <%= yield %>
  </div>

</body>
</html>