<div class='span10'>
<form action='characters' method='post' class='well'>
  <label>Key ID</label>
  <input type='text' class='span8' placeholder="000000" name='keyID'>
  <label>vCode</label>
  <input type='text' class='span8' placeholder="000000" name='vCode'>
  <br />
  <button type="submit" class='btn'>Submit</button>
</form>
</div>