<div class='span12'>
<h1>Yo Dawg...</h1>

<p>Hate Logging into EVE gate to check your calendar? Got a nifty smart phone and want to subscribe to your calendar?</p>

<p>Using your API key, this app will fetch the XML for your characters on your account and convert that to an ical formatted file you can subscribe to.</p>

<p>The results are cached for 15 minutes, so your API key won't be hit more often than that</p>

<p>Start Here...<a href='/characters'>Enter API Key</a><p>
</div>